@model UserSignup.Models.User

<br />

@if (string.IsNullOrEmpty(Model.Username))
{
    <p>Please <a asp-area="" asp-controller="User" asp-action="Add">Sign up</a>.</p>
}
else
{
    <h1>Welcome, @Model.Username!</h1>
}